.search {
    border: none;
    outline: none;
    padding: 10px;
    width: 240px;
    line-height: 30px;
    margin: 2% 4% 4% 4%;
    background: #A38367;
    color: #FFFFFF;
}

.search::placeholder{
    color: #FFFFFF;
}