.card-container {
    height: 30vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: #FFBA7A;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    overflow:hidden;
}
.card-container:hover {
    transform: scale(1.05);
}

.card-container-add {
    height: 8vw;
    width: 8vw;
    display: flex;
    flex-direction: column;
    background-color: #5A3E23;
    border-radius: 100%;
    padding: 16px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-top: 48%;
    margin-left: 28%;
}

.card-container-add:hover {
    transform: scale(1.05);
}

.card-container img {
    min-width: 240px; /* Set the maximum width to your desired size */
    min-height: 160px; /* Set the maximum height to your desired size */
    max-width: 240px;
    max-height: 160px;
    object-fit: cover;
    border-radius: 10px;
    align-self: center;
    /* border: 3px solid #5A3E23; */
}

.card-container-order {
    height: 20vw;
    width: 20vw;
    display: flex;
    flex-direction: column;
    background-color: #FFBA7A;
    border-radius: 16px;
    padding: 16px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    overflow:hidden;
}

.card-container-order:hover {
    transform: scale(1.05);
}

p {
    font-size: 1vw;
}

p.desc {
    white-space: nowrap; /* Prevent line breaks */
    overflow: hidden; /* Hide any overflowing text */
    text-overflow: ellipsis;
}

h1.add-t {
    width: fit-content;
    font-size: 1.8vw;
    top: -30%;
    left: 8%;
    position: fixed;
}

h2.add {
    color: #FFFFFF;
    font-size: 7vw;
    position: fixed;
    top: -10%;
    left: 25%;
}

h2.itemName {
    font-size: 1.5vw;
    font-weight: bolder;
}

.sold {
    font-weight: bolder;
}

.hr {
    margin: 0.2rem 0;
}


.Btns {
    margin-top: 1%;
}

Button.addToCart{
    background-color: #5A3E23;
    position: absolute;
    right: 12%;
    border: none;
}

Button.delete-c {
    font-size: 0.8vw;
    border: none;
    background-color: #B90000;
    color: #FFFFFF;
    position: absolute;
    top: 4%;
    left: 75%;
    height: fit-content;
    width: fit-content;
}

Button.update {
    border: none;
    background-color: #5A3E23;
    color: #FFFFFF;
    position: absolute;
    bottom: 4%;
    right: 6%;
    width: 32%;
    justify-content: center;
}

.card-container input{
    position: relative;
    left: 2.9em;
    width:100%;
    bottom: 0.2em;
    justify-content: center;
}

Button.plus {
    position: relative;
    margin-top: 1%;
    border: none;
    left: 300%;
    bottom: 2.3em;
    background-color: #5A3E23;
    color: #FFFFFF;
    width: 100%;
    justify-content: center;
}

Button.minus {
    position: relative;
    margin-top: 1%;
    border: none;
    top: 1.8em;
    background-color: #5A3E23;
    color: #FFFFFF;
    width: 100%;
    justify-content: center;
}

Button.plus-cart {
    position: absolute;
    bottom: 2%;
    left: 38%;
    border: none;
    background-color: #5A3E23;
    color: #FFFFFF;
    border-radius: 30%;
    width: 3em;
    height: 3em;
    text-align: center;
}

Button.minus-cart {
    position: absolute;
    bottom: 2%;
    left: 6%;
    border: none;
    background-color: #5A3E23;
    color: #FFFFFF;
    width: 3em;
    height: 3em;
    border-radius: 30%;
    justify-content: center;
}

.card-body input {
    width: 40%;
    border: none;
    text-align: center;
    margin-left: 9%;
}

.btn-primary {
    border-radius: 12px;
}

.btn-primary:hover {
    transform: scale(1.05);
    background-color: #C5BDB5;
}