
.App {
  text-align: center;
   background: #FFDDBD; 
}

body {
  background: #FFDDBD;
}

body {
  background: #FFDDBD;
}

h1 {
  font-size: 8vw;
}

h1.Welcome {
  padding-top: 8%;
  padding-bottom: 2%;
}

p {
  font-size: 2vw;
}


