
.App {
  text-align: center;
  /* background: #FFDDBD;  */
  position: relative;
  overflow: hidden;
  height: 100vh;
  font-family: sans-serif;
}
.App::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('./bg.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: blur(5px);
  z-index: -1;
}

body {
  background: #FFDDBD;
}

body {
  background: #FFDDBD;
}

h1 {
  font-size: 8vw;
}

h1.Welcome {
  padding-top: 8%;
  padding-bottom: 2%;
  font-weight: bolder;
  color:#FFDDBD;
  -webkit-text-stroke: 4px #7a5d43;
}

p.log {
  font-size: 4vw;
  font-weight: bolder;
  color:#FFDDBD;
  -webkit-text-stroke: 2px #7a5d43;
}



